body{
    background: rgb(241, 223, 240);
    margin-left: 100px;
    margin-right: 200px;
}
header {
    margin-top: 70px;
}
h1 {
    color: red;
    font-family: fantasy;
}
h2 {
    color: blue;
    font-family: fantasy;
}
p {
    font-size: 18px;
}
footer {
        margin-bottom: 50px;
    }

.img_padrao {
    margin-bottom: 20px;
    width: 300px;
}
.logo {
    width: 30px;
}
